/*start  css header */

.logo_box {
    width: 232px;
    height: 60px;
}

.description_page {
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-top: 5px;
}

#logo {
    display: inline-block;
    width: 232px;
    height: 35px;
    float: left;
    text-indent: -9999%;
    margin: 0;
}

#logo a {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
}

.dropdown_item li a {
    line-height: 24px !important;
    padding: 5px 10px !important;
    width: 100%;
    display: block;
}

#logo img {
    width: 100%;
    height: auto;
}

.header__desktop--box {
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
}

.main__menu--list .item {
    position: relative;
}

.main__menu--list .item a {
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 18px;
    display: block;
}

.header .dropdown-menu a {
    font-size: 15px;
    padding: 18px 4px 15px;
}

.main__menu--list .item a.active {
    font-weight: bold;
    color: var(--main-color);
}

.main__menu--list .dropdown_item a {
    color: #1c1c1c;
    font-size: 16px
}

.main__menu--list a:hover,
.header li.subMenu:hover>a {
    color: var(--main-color);
}

.header li.subMenu:hover>a::after {
    content: '';
    background-color: var(--main-bg-color);
    height: 2px;
    width: calc(100% - 24px);
    position: absolute;
    top: 100%;
    left: 12px;
    z-index: 1001;
}

.main__menu .fa-chevron-down {
    transform: scale(1, 1.5);
    -webkit-text-stroke: 0.5px #fff;
    font-size: 14px;
    /* transition: all ease 1s; */
}

.header li.subMenu:hover .fa-chevron-down:before {
    content: "\f077";
}

.header li.subMenu:hover>.dropdown-menu {
    display: block;
}

.header .dropdown-menu {
    margin: 0 !important;
    min-width: 260px;
    border: none;
    padding: 20px 0 0;
}

.header .dropdown-menu>ul {
    background-color: var(--main-bg-color-2);
    padding: 15px 20px 10px;
    border-radius: 8px;
}

.header .dropdown-menu li {
    width: 100%;
}

.header .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #fad1cd;
}

.main__menu {
    display: flex;
    align-items: center;
}

.main__menu--list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.log_box {
    display: flex;
    align-items: center;
}

.log_box a {
    width: 122px;
    border-radius: 25px;
}

.log_box a {
    width: 122px;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.log_box a:hover,
.log_box a:focus {
    color: #fff;
}

.btn_login {
    margin-left: 20px;
}

@media (max-width:1315px) {
    .log_box a {
        width: 110px;
    }
    .btn_login {
        margin-left: 10px;
    }
    .main__menu--list .item a {
        padding: 12px 8px;
    }
}

@media (max-width:1200px) {
    .description_page {
        font-size: 11px;
    }
    #logo {
        width: 220px;
    }
    .logo_box {
        width: 220px;
    }
    .main__menu--list .item a {
        font-size: 15px;
    }
    .header__desktop--box {
        padding: 35px 10px;
    }
}

@media (max-width:1100px) {
    .log_box a {
        width: 100px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    #logo {
        width: 200px;
    }
    .logo_box {
        width: 200px;
    }
    .description_page {
        font-size: 10px;
    }
    .main__menu--list .item a {
        font-size: 14px;
    }
}

@media (max-width:1024px) {
    .block1024 {
        display: block !important
    }
    .hidden1024 {
        display: none !important
    }
    .log_box_mobile a {
        width: calc(100% - 30px);
        border-radius: 50px;
        color: #fff !important;
        max-width: 280px;
        height: 60px;
        line-height: 60px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .btn_login {
        margin-left: 30px;
    }
    .log_box_mobile {
        padding: 10px;
    }
}

@media (max-width:480px) {
    .log_box_mobile a {
        height: 48px;
        line-height: 48px;
    }
}


/*end  css header */