.back {
    color: #FFF
}

header .logo-port {
    padding-left: 0;
    width: calc(100% - 100px)
}

.logo-port h1,
.logo-port h2,
.logo-port p {
    margin: 0!important
}

.content-wrap {
    background-color: #fff;
    color: #333;
    float: left;
    height: 100vh;
    position: relative;
    width: 50%
}

.content-inner-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 0;
    text-align: left
}

.menu-wrap {
    height: 100vh;
    width: 50%;
    padding: 0;
    float: left;
    position: relative
}

body.mmactive {
    overflow: hidden
}

.mobile_menu {
    display: none;
    position: relative
}

.sm_menu_outer.active .mobile_menu {
    display: block;
    padding: 0
}

.sm_menu_outer {
    height: calc(100vh - 64px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 64px;
    z-index: -9;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
    border-top: .5px solid rgba(0, 0, 0, 0);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #2a2a2a 20%, #2a2a2a 50%, #2a2a2a 80%, rgba(0, 0, 0, 0) 100%) 0 0 1 0
}

.sm_menu_outer.active {
    opacity: 1;
    z-index: 9999
}

.sm_menu_outer .mobile_menu li.back a {
    padding: 20px 5px 20px 45px;
    background: #fff;
    position: relative
}

.sm_menu_outer .mobile_menu li.back a:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f053";
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 22px;
    -webkit-text-stroke: 1px #fff;
}

.sm_menu_outer .mobile_menu a {
    color: #000;
    display: block;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none
}

.sm_menu_outer .mobile_menu .submenu {
    background-color: #fff;
    height: calc(100vh - 70px);
    position: absolute;
    right: -100%;
    top: 0;
    transition: all .5s ease 0s;
    width: 100%;
    z-index: 999;
    padding: 0
}

.sm_menu_outer .mobile_menu li.active>.submenu {
    right: 0
}

.sm_menu_outer .mobile_menu li {
    list-style-type: none;
    border-bottom: .5px solid rgba(0, 0, 0, 0);
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #2a2a2a 20%, #2a2a2a 50%, #2a2a2a 80%, rgba(0, 0, 0, 0) 100%) 0 0 1 0;
    color: #333
}

.sm_menu_outer .mobile_menu li.hasChild>a {
    position: relative
}

.sm_menu_outer .mobile_menu li.hasChild>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 3px;
    -webkit-text-stroke: 1px #fff;
    ;
    font-size: 22px;
    font-family: 'Font Awesome\ 5 Free';
}

#sm_menu_ham {
    cursor: pointer;
    float: right;
    height: 20px;
    position: fixed;
    right: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s ease-in-out 0;
    -moz-transition: all .5s ease-in-out 0;
    -o-transition: all .5s ease-in-out 0;
    transition: all .5s ease-in-out 0;
    width: 25px;
    top: 22px;
    right: 10px;
    z-index: 99999
}

#sm_menu_ham span {
    background-color: #333;
    border-radius: 5px;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .25s ease-in-out 0;
    -moz-transition: all .25s ease-in-out 0;
    -o-transition: all .25s ease-in-out 0;
    transition: all .25s ease-in-out 0;
    width: 25px
}

#sm_menu_ham span:nth-child(1) {
    top: 0
}

#sm_menu_ham span:nth-child(2),
#sm_menu_ham span:nth-child(3) {
    top: 10px
}

#sm_menu_ham span:nth-child(4) {
    top: 20px
}

#sm_menu_ham.open span:nth-child(1) {
    left: 50%;
    top: 18px;
    width: 0
}

#sm_menu_ham.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

#sm_menu_ham.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#sm_menu_ham.open span:nth-child(4) {
    left: 50%;
    top: 18px;
    width: 0
}

@media (min-width:1025px) {
    #sm_menu_ham,
    .sm_menu_outer {
        display: none
    }
}

@media (max-width: 1024px) {
    .hidden1024 {
        display: none!important
    }
    .block1024 {
        display: block!important
    }
    header {
        height: 64px;
        border-bottom: .5px solid rgba(0, 0, 0, 0);
        color: #333;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 1px 10px;
        z-index: 9999;
        background: #323232
    }
    .header_2019 {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 64px;
        background: #fff;
        z-index: 9999;
    }
    .header .btn_enquire {
        position: absolute;
        width: auto;
        min-width: 50px;
        right: 50px;
        top: 15px;
        color: #333;
        font-size: 15px
    }
    .header .btn_enquire a {
        background: #1aae89;
        color: #fff;
        line-height: 33px;
        display: inline-block;
        padding: 0 13px;
        border-radius: 20px;
        outline: 0!important
    }
    .header .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto
    }
    .sm_menu_outer .mobile_menu a {
        color: #333;
        display: block;
        letter-spacing: 1px;
        padding: 10px 15px;
        text-transform: none!important;
        text-decoration: none;
        font-size: 16px!important
    }
    .sm_menu_outer .mobile_menu a.enquire {
        padding-right: 30px;
        display: inline-block;
        position: relative
    }
    .sm_menu_outer .mobile_menu a.enquire:after {
        width: 2px;
        height: 30px;
        top: 5px;
        right: 0;
        position: absolute;
        content: "";
        background: #bbb
    }
    .sm_menu_outer .mobile_menu a.callus {
        display: inline-block
    }
    .sm_menu_outer .mobile_menu .dropdown-menu {
        left: 12px
    }
    .sm_menu_outer .mobile_menu .dropdown-menu li {
        list-style-type: none;
        border-bottom: .5px solid rgba(0, 0, 0, 0);
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #ccc 20%, #ccc 50%, #ccc 80%, rgba(0, 0, 0, 0) 100%) 0 0 1 0;
        color: #333
    }
    .sm_menu_outer .mobile_menu .dropdown-menu a {
        font-size: 14px!important
    }
    .find_mobi {
        position: absolute;
        right: 65px;
        top: 18px;
        font-size: 20px;
        color: #252525;
        cursor: pointer;
    }
    .language_select {
        position: fixed;
        top: 22px;
        right: 105px;
        height: auto;
        width: auto;
        z-index: 99;
    }
    .language_select>a,
    .language_select>a>img {
        width: 30px;
        height: 20px;
    }
    .language_select .dropdown-menu {
        min-width: 170px !important;
    }
}

@media (max-width: 991px) {
    .get__enquire__content {
        padding: 0!important
    }
    .mb992_15 {
        margin-bottom: 15px!important
    }
    
}

@media (max-width: 767px) {
    .language_select {
        position: fixed;
        top: 21px;
        right: 55px;
        height: auto;
        width: auto;
        z-index: 99;
    }
}

@media (max-width: 1024px) {
    .header__mobile {height: 100%;}
    header .logo-port {
        padding-left: 0;
        width: 155px;
        display: flex;
        align-items: center;
        height: 100%;
    }
    header {
        background-color: #fff
    }
}
@media (max-width: 480px) {
   
    .sm_menu_outer .mobile_menu a{
        font-size: 14px !important;
    }
}
@media (max-width: 375px) {
    
}