@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/Noto_Sans/NotoSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

:root {
    --main-color: #e76657;
    --main-color-2: #fff5f4;
    --main-bg-color: #e76657;
    --main-bg-color-2: #fff5f4;
    --color-body: #000;
}
.h3, .h4, .h5, .h6,h3, h4, h5, h6{
    line-height: 1.5;
}
body {
    font-size: 16px;
    color: #000;
    font-family: 'NotoSans', sans-serif;
    overflow-x: hidden
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

img,
.img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

.font-initial {
    font-family: initial;
}

.color_main {
    color: var(--main-color);
}

.list_style_none {
    list-style: none;
    padding: 0;
    margin: 0;
}

.limit_2line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.limit_3line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.limit_4line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.semni_bold {
    font-weight: 600;
}

.color_fff {
    color: #fff !important;
}

.color_000 {
    color: #000 !important;
}

.navbar-brand>img {
    display: block;
}

.relative {
    position: relative;
}

.bgc_main {
    background-color: #e76657 !important
}

.bg_main {
    background: #e76657 !important
}

.bg_000 {
    background: #000 !important
}

.bgc_000 {
    background-color: #000 !important
}

.size60 {
    font-size: 60px !important;
}

.size36 {
    font-size: 36px !important;
}

.size32 {
    font-size: 32px !important;
}

.size28 {
    font-size: 28px !important;
}

.size24 {
    font-size: 24px !important;
}

.size18 {
    font-size: 18px !important;
}

.size16 {
    font-size: 16px !important;
}

.size14 {
    font-size: 14px !important;
}

.size12 {
    font-size: 14px !important;
}

.semi_bold {
    font-weight: 600 !important;
}

.border-bottom-ddd {
    border-bottom: 1px solid #ddd;
}


/* css item project */

.item_project .photo {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.status_item {
    background-color: #e95066;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: 100px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-weight: 600;
}

.status_item.red {
    background-color: #e95066;
}

.status_item.mint_green {
    background-color: #0ca497;
}

.status_item.grey {
    background-color: #999;
}

.item_body {
    padding: 13px 20px 10px;
    background-color: #fff;
    padding-bottom: 20px;
}

.type_item {
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    color: #e37467;
    border: 2px solid;
    height: 34px;
    width: 144px;
    text-align: center;
    overflow: hidden;
    display: -ms-flexbox!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type_item.red {
    color: #e37467;
}

.type_item.blue {
    color: #447edf;
}

.type_item span {
    margin-left: 8px;
}

.item_project .type_item img {
    width: 19px;
    height: 17px;
}

.item_project .tag {
    font-size: 14px;
    border-radius: 3px;
    background-color: #fdd2b6;
    color: #f35c1a;
    padding: 3px 10px;
    text-align: center;
    margin-right: 10px;
}

.tag.red {
    background-color: #fdd2b6;
    color: #f35c1a;
}

.tag.blue {
    background-color: #b7e0ec;
    color: #30a0cf;
}

.item_project .category {
    font-size: 13px;
    font-weight: 600;
}

.item_project .title_item {
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
}

.date_box {
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ddd;
}

.note_chart {
    width: 190px;
    padding-left: 20px;
}

.note_chart p:first-child {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.note_chart p span:first-child {
    width: 80px;
}

.note_chart p span:last-child {
    width: calc(100% - 80px);
    text-align: right;
}

.note_chart>p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.chart_box {
    position: relative;
    width: calc(100% - 210px);
    height: 100px;
}

.chart {
    /* background-color: #f1d4d1; */
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    left: -40px;
    top: 0;
    z-index: 999;
}

.apexcharts-canvas {
    left: -48px;
    top: -35px;
}

.list_project_box .apexcharts-canvas {
    left: -85px;
    top: -30px;
}


/*end css item project */


/* css main  home*/

.slider_content {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 50px;
}

.login-slide {
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    width: 390px;
    height: 100px;
    /* position: absolute;
    right: 100px;
    bottom: 100px; */
}

.login-slide a {
    color: #fff !important;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_banner {
    margin-bottom: 65px;
    max-width: 840px;
    font-size: 34px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 65px;
}

.title_banner {
    max-width: 600px;
    width: 100%;
}
.title_banner img {
    height: auto;
}
.intro_banner p {
    background-color: #fff;
    padding: 5px 10px 5px 5px;
    display: inline-block;
}

.intro_banner p:last-child {
    margin-bottom: 0;
}

.left_slider {
    padding-right: 20px;
}

.certify {
    width: 390px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.certify img {
    width: 100%;
    height: auto;
}

.project_box {
    margin-top: 108px;
}

.btn_main {
    border: 2px solid var(--main-color-2);
    border-radius: 30px;
    color: var(--main-color) !important;
    ;
    background-color: var(--main-bg-color-2) !important;
    ;
    line-height: 60px;
    height: 60px;
    width: 200px;
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    transition: all 0.3s ease-out
}

.btn_main:hover,
.btn_main:focus {
    border: 2px solid var(--main-color);
    color: var(--main-color) !important;
    box-shadow: none;
    opacity: .5;
}

.view_more_box {
    position: absolute;
    font-weight: bold;
    right: 50px;
    top: -12px;
    text-transform: uppercase;
}

.section_header {
    padding-left: 80px;
    padding-right: 50px;
    position: relative;
}

.section_title {
    font-size: 32px;
    font-weight: bold;
    padding-left: 40px;
    position: relative;
    padding-top: 5px;
}

.section_title::before {
    content: '';
    background-color: #e37467;
    height: 2px;
    width: 15px;
    left: 0;
    top: 50%;
    position: absolute;
}

.list_project_box {
    margin-top: 92px;
    padding-bottom: 115px;
}

.owl-carousel-cozuchi .owl-prev {
    position: absolute;
    top: 50%;
    left: -80px;
    box-sizing: border-box;
    width: 20px!important;
    height: 20px!important;
    border-left: 3px solid var(--main-color)!important;
    border-top: 3px solid var(--main-color) !important;
    transform: rotate( -45deg);
    z-index: 9;
}

.owl-carousel-cozuchi .owl-next {
    position: absolute;
    top: 50%;
    right: -80px;
    box-sizing: border-box;
    width: 20px!important;
    height: 20px!important;
    border-right: 3px solid var(--main-color)!important;
    border-bottom: 3px solid var(--main-color) !important;
    transform: rotate(-45deg);
    z-index: 9;
}

.owl-carousel-cozuchi .owl-prev:focus,
.owl-carousel-cozuchi .owl-next:focus {
    outline: none;
}

.owl-carousel.owl-carousel-project .owl-stage-outer {
    padding-left: 20px;
    padding-bottom: 35px;
    margin-left: -20px;
    margin-bottom: -35px;
}

.bg_project {
    height: 550px;
    width: 100%;
    background: url(../images/bg_01.jpg);
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_box {
    margin-top: 115px;
    margin-bottom: 240px;
}

.about_box .section_title {
    padding-top: 0;
}

.about_box_content {
    margin-top: 105px;
}

.about_intro {
    margin-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 30px;
}

.service_feature_box {
    background-color: var(--main-bg-color);
    padding-top: 90px;
    padding-bottom: 165px;
}

.service_feature_box {
    background-color: var(--main-bg-color);
    padding-top: 90px;
    padding-bottom: 165px;
}

.service_feature_box .section_title::before {
    background-color: #fff;
}

.service_feature_content {
    margin-top: 130px;
}

.service_feature_content .list_item {
    max-width: 1240px;
    margin: 0 auto;
}

.service_item {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
}

.service_item .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    height: 75px;
    line-height: 35px;
    margin-bottom: 15px;
}

.border_img img {
    width: 100%;
    height: 34px;
}

.border_img {
    margin-bottom: 40px;
}

.img_service {
    text-align: center;
    height: 150px;
}

.strength_item .number {
    width: 80px;
    font-size: 100px;
    color: var(--main-color);
    line-height: 75px;
}

.strength_item .title {
    font-size: 28px;
    font-weight: bold;
    width: calc(100% - 80px);
    margin-bottom: 0;
}

.strength_item .intro {
    margin-top: 40px;
    line-height: 30px;
}

.strength_box {
    margin-top: 140px;
    margin-bottom: 160px;
}

.section_title .size60 {
    line-height: 40px;
}

.strength_box .section_title::before {
    top: calc(50% + 10px);
}

.strength_box .view_more_box {
    top: -2px;
}

.strength_content {
    margin-top: 120px;
}

.strength_photo {
    padding-left: 10px;
}

.strength_item:not(:last-child) {
    margin-bottom: 100px;
}

.safety_box {
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 110px;
}

.safety_content {
    margin-top: 100px;
}

.safety_intro {
    line-height: 30px;
}

.safety_item .photo {
    text-align: center;
    margin-bottom: 50px;
}

.safety_item .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    height: 80px;
    line-height: 40px;
}

.safety_item .title span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flow_box {
    background-color: var(--main-bg-color);
    color: #fff;
    padding-bottom: 125px;
    padding-top: 100px;
}

.flow_box .section_title::before {
    background-color: #fff;
}

.fieldset_flow_item {
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    padding: 30px;
    height: 526px;
    border-radius: 10px;
}

.fieldset_flow_item legend {
    width: auto;
    padding: 0 20px;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 0;
}

.fieldset_title {
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.fieldset_flow_item .photo {
    text-align: center;
    height: 140px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.flow_content {
    margin-top: 60px;
}

.flow_content .col-md-4 {
    padding-right: 25px;
    padding-left: 25px;
}

.flow_content .row {
    margin-right: -15px;
    margin-left: -15px;
}

.flow_content .registration {
    text-align: center;
    margin-top: 75px;
}

.flow_content .registration a {
    color: var(--main-color);
    background-color: #fff;
    border-radius: 50px;
    display: block;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.voice_item .author {
    font-size: 18px;
    font-weight: bold;
}

.voice_item {
    border-radius: 8px;
    border: 5px solid #000;
    padding: 37px 30px 30px 20px;
    height: 480px;
}

.voice_item .intro {
    height: 370px;
    margin-bottom: 10px;
    line-height: 30px;
    overflow: hidden;
}

.voice_box {
    margin-top: 125px;
    margin-bottom: 150px;
}

.voice_content {
    margin-top: 90px;
}

.faq_box {
    background-color: #f5f5f5;
    padding-bottom: 115px;
    padding-top: 130px;
}

.faq_content {
    margin-top: 95px;
}

.panel-title a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 22px 80px 22px 20px;
}

.panel-title a:hover {
    color: var(--main-color);
}

.panel-title a .icon_collapse {
    display: inline-block;
    background-color: var(--main-bg-color);
    border-radius: 100%;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    margin-right: 30px;
}

.panel-title a .title {
    width: calc(100% - 90px);
}

.panel-title a i {
    -webkit-text-stroke: 1px #fff;
    font-size: 25px;
    color: var(--main-color);
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translate(0, -50%);
}

.faq_panel .panel-default {
    border-radius: 8px;
    border: 3px solid #eee;
    background-color: #fff;
    margin-bottom: 20px;
}

.faq_panel .panel-default:last-child {
    margin-bottom: 0;
}

.faq_panel .panel-body {
    border-top: 2px solid #eee;
    padding: 45px 55px 55px 45px;
    line-height: 30px;
}

.panel-title a[aria-expanded="true"] i:before {
    content: "\f077";
}

.company_box {
    padding-left: 80px;
    padding-top: 150px;
    padding-bottom: 115px;
}

.company_infor {
    padding-left: 50px;
    margin-top: 90px;
}

.company_name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.company_infor .box p {
    margin-bottom: 5px;
}

.information_contact {
    padding-bottom: 35px;
    border-bottom: 2px solid #eee;
    margin-bottom: 40px;
}

.company_infor .box {
    max-width: 550px;
}

.website_url {
    display: inline-block;
    margin-top: 50px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid;
    width: 200px;
}

.website_url:hover,
.website_url:focus {
    color: var(--main-color);
}

.map_box iframe {
    max-width: 100%;
}


/* css about page */

.banner_box img {
    width: 100%;
}

.banner_box h1 {
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.feel_box {
    padding-top: 100px;
    padding-bottom: 70px;
    border-bottom: 1px solid #eee;
}

.feel_box .img {
    margin-top: 90px;
}

.feel_about_intro {
    margin-top: 60px;
    line-height: 30px;
}

.line-height-35 {
    line-height: 35px;
}

.message_about_box {
    padding-top: 80px;
    padding-bottom: 80px;
}

.message_about_intro {
    margin-top: 90px;
}

.message_about_content {
    margin-top: 95px;
    padding-bottom: 75px;
    border-bottom: 1px solid #eee;
}

.about_operating {
    padding-bottom: 70px;
    padding-top: 75px;
    border-bottom: 1px solid #eee;
}

.about_operating_intro {
    margin-top: 70px;
}

.back_about {
    margin-top: 80px;
}


/* end css about page  */


/*  css 4_pc_fund  */

.page_project_box .item_project {
    margin-bottom: 100px;
}

.list_pagination a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: var(--main-bg-color-2);
    color: var(--main-color);
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 100%;
    transition: all .5s;
    border: 2px solid;
    border-color: var(--main-bg-color-2);
}

.list_pagination a.current {
    color: #fff !important;
    background-color: var(--main-bg-color);
}

.list_pagination a.disabled {
    display: none;
}

.list_pagination a:hover,
.list_pagination a:focus {
    border-color: var(--main-color);
}

.list_pagination .pagination {
    justify-content: center;
}

.project_page {
    padding-bottom: 80px;
}

.page_project_box {
    padding-top: 100px;
}

.page_project_box .project_list {
    margin-top: 80px;
}

.select_box {
    width: 239px;
}

.select_box select {
    border: 3px solid #ececec;
    height: 56px;
    border-radius: 6px;
}

.item_project .photo img {
    width: 100%;
    height: auto;
}

.page_project_box .item_body {
    border: 3px solid #eee;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project_list .col-xl-4 {
    padding-right: 20px;
    padding-left: 20px;
}

.page_project_box .project_list .row {
    margin-right: -20px;
    margin-left: -20px;
}


/* end css 4_pc_fund  */


/*  css login, register  */

.login_page h1,
.register_page h1 {
    margin-top: 100px;
    margin-bottom: 90px;
}

.submit_form {
    max-width: 705px;
    margin: 0 auto;
    padding-bottom: 85px;
}

.submit_form label {
    font-weight: 600;
    margin-bottom: 10px;
}

.submit_form .form-group {
    margin-bottom: 30px;
}

.submit_form input {
    height: 56px;
    border-radius: 6px;
    border: 2px solid #eee;
    padding-left: 20px;
    padding-right: 20px;
}

.btn_submit {
    font-size: 24px;
    color: #fff;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    height: 90px;
    line-height: 90px;
    padding-top: 0;
    padding-bottom: 0;
    width: 320px;
}

.btn_submit:hover,
.btn_submit:focus {
    color: #fff;
}

.submit_form a:hover,
.submit_form a:focus {
    color: var(--main-color);
}

.submit_form a {
    position: relative;
    font-weight: 600;
}

.submit_form a:before {
    content: '';
    height: 1px;
    background-color: var(--main-bg-color);
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.border_regist {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 2px solid #eee;
}

.remember_box input {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #eee;
    margin-right: 15px;
}

.remember_box {
    margin-right: 80px;
}

.login_page .btn_submit {
    margin-right: 50px;
}

.btn_other {
    font-size: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    height: 90px;
    line-height: 90px;
    padding-top: 0;
    padding-bottom: 0;
    width: 320px;
}

.btn_other:hover,
.btn_other:focus {
    color: #fff;
}


/* end  css login, register  */

h4.panel-title {
    margin-bottom: 0;
}

.project_page .apexcharts-canvas {
    left: -52px;
    top: -30px;
}

@media (min-width:1440px) {
    .header__desktop--box {
        padding: 35px 40px;
    }
    .company_infor .box {
        max-width: 565px;
    }
}
@media (max-width:1366px) {
    
    .login_page h1, .register_page h1 {
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 32px !important;
    }
    .submit_form .form-group {
        margin-bottom: 20px;
    }
    .submit_form input {
        height: 50px;
    }
    .form-group.check_box {
        margin-top: 30px !important;
        margin-bottom: 0 !important;
    }
    .remember_box input{
        height: 25px;
    }
    .btn_submit,.btn_other {
        width: 300px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
    }
    .submit.mt-5 {
        margin-top: 30px !important;
    }
    .submit_form {
        padding-bottom: 40px;
    }
    .policy.mb-5 {
        margin-bottom: 30px !important;
    }
    .submit_register{
        margin-bottom: 20px  !important;
    }
    .note_login {
        margin-bottom: 15px !important;
    }
    .mb_15_lap{
        margin-bottom: 15px !important;
    }
    .project_box {
        margin-top: 85px;
    }
    .btn_main{
        line-height: 50px;
        height: 50px;
        width: 180px;
        font-size: 14px;
    }
    .section_title {
        font-size: 30px;
    }
    .list_project_box {
        margin-top: 70px;
        padding-bottom: 90px;
    }
    .item_infor .size32 {
        font-size: 28px !important;
    }
    .intro_banner {
        max-width: 800px;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .certify {
        margin-bottom: 40px;
    }
    .title_banner {
        max-width: 500px;
    }
    .about_box {
        margin-top: 80px;
        margin-bottom: 160px;
    }
    .about_box_content {
        margin-top: 70px;
    }
    .about_intro {
        margin-top: 60px;
    }
}
@media (max-width:1200px) {
    .login_page h1, .register_page h1 {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 30px !important;
    }
    .slider_content {
        padding-left: 40px;
        padding-right: 30px;
    }
    .intro_banner {
        font-size: 26px;
    }
    .title_banner {
        max-width: 480px;
    }
    .title_banner img {
        height: auto;
    }
    .certify {
        max-width: 100%;
    }
    .left_slider {
        padding-right: 30px;
    }
}

@media (max-width:1199px) and (min-width:992px) {
    .chart_box {
        width: calc(100% - 280px);
    }
    .note_chart {
        width: 260px;
    }
}

@media (max-width:1024px) {
    
    .login_page,.register_page{
        padding-top: 30px;
    }
    .submit_form {
        max-width: 650px;
    }
    .btn_submit, .btn_other {
        width: 250px;
        height: 55px;
        line-height: 55px;
        font-size: 18px;
    }
    .login_page .btn_submit {
        margin-right: 30px;
    }
    .submit.mt-5 {
        margin-top: 25px !important;
        margin-bottom: 40px !important;
    }
    .login_page h1, .register_page h1{
        margin-top: 0;
       
        font-size: 28px !important;
    }
    .right_slider {
        max-width: 35%;
    }
    .intro_banner {
        font-size: 22px;
    }
    img {
        height: auto;
    }
    .service_item .title {
        font-size: 20px;
    }
    .safety_item .title {
        margin-bottom: 25px;
        font-size: 24px;
    }
    .fieldset_title {
        font-size: 24px;
    }
    .fieldset_flow_item .photo {
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .service_feature_content .list_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .fieldset_flow_item {
        height: 526px;
    }
    .company_box {
        padding-left: 30px;
    }
    .company_infor {
        padding-left: 15px;
    }
    .owl-carousel-cozuchi .owl-prev {
        left: -25px;
    }
    .owl-carousel-cozuchi .owl-next {
        right: -25px;
    }
    .main_page {
        margin-top: 64px;
    }
    .login-slide {
        font-size: 18px;
        width: 320px;
        margin: 0 auto;
        height: 80px;
    }
    .title_banner {
        display: none;
    }
}

@media (max-width:991px) {
    .form-group.check_box {
        margin-top: 20px !important;
    }
    .submit_form .form-group{
        margin-bottom: 15px !important;
    }
    .submit_form label,.submit_form a {
        font-size: 14px;
    }
    .login_page .btn_submit {
        margin-right: 20px;
    }
    .submit_form input,.submit_form select{
        font-size: 14px;
    }
    .btn_submit, .btn_other {
        width: 230px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
    .remember_box {
        margin-right: 45px;
        padding-top: 2px;
    }
    .remember_box input {
        height: 20px;
        width: 20px;
    }
    .section_title {
        font-size: 28px;
    }
    .service_item {
        margin-bottom: 40px;
    }
    .safety_item {
        display: flex;
        flex-flow: row-reverse;
        margin-bottom: 70px;
    }
    .safety_item .photo {
        width: 170px;
        margin-left: 30px;
        margin-bottom: 0;
        padding-top: 5px;
    }
    .safety_item .photo img {
        height: auto;
    }
    .safety_item .body {
        width: calc(100% - 200px);
    }
    .safety_item .title {
        height: auto;
        margin-bottom: 25px;
        text-align: left;
        font-size: 24px;
    }
    .section_header {
        padding-left: 40px;
        padding-right: 30px;
    }
    .about_box_content {
        margin-top: 70px;
    }
    .about_intro {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
    }
    .about_box_content .img img {
        max-width: 350px;
        height: auto;
    }
    .about_box {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .about_intro .semni_bold {
        font-weight: 500;
    }
    .service_feature_content {
        margin-top: 80px;
    }
    .service_feature_box {
        padding-bottom: 75px;
    }
    .strength_box {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .strength_item .number {
        width: 40px;
        font-size: 48px;
        line-height: 40px;
    }
    .strength_item .title {
        width: calc(100% - 40px);
    }
    .strength_content {
        margin-top: 70px;
    }
    .strength_photo {
        margin-top: 50px;
        text-align: center;
    }
    .strength_photo img {
        height: auto;
    }
    .strength_item:not(:last-child) {
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: 2px solid #eee;
    }
    .safety_item .title span {
        justify-content: left;
    }
    .safety_box {
        padding-bottom: 70px;
    }
    .flow_box {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .mobile_box {
        width: 130px;
    }
    .desk_box {
        width: calc(100% - 130px);
        padding-right: 20px;
    }
    .fieldset_title {
        text-align: left;
    }
    .fieldset_flow_item .photo {
        margin-top: 10px;
        margin-bottom: 0;
        height: auto;
    }
    .fieldset_flow_item {
        display: flex;
        height: auto;
        margin-bottom: 50px;
        padding: 35px;
    }
    .map_box {
        margin-top: 100px;
    }
    /* .project_page .chart_box {
        width: calc(100% - 280px);
    }
    .project_page .note_chart {
        width: 260px;
    } */
    .slider_content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .slider_content {
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center;
    }
    .right_slider {
        max-width: 100%;
    }
    .intro_banner {
        text-align: center;
    }
    
    
    .owl-carousel.owl-carousel-project .owl-stage-outer {
        padding-bottom: 45px;
        margin-bottom: -45px;
    }
    .project_page .apexcharts-canvas {
        left: -45px;
        top: -26px;
    }
}

@media (max-width:991px) and (min-width:768px) {
    .note_chart p .size36 {
        font-size: 24px !important;
    }
    .note_chart p .size18 {
        font-size: 14px !important;
    }
    .note_chart {
        width: 180px;
        padding-left: 20px;
    }
    .chart_box {
        position: relative;
        width: calc(100% - 200px);
    }
    .list_project_box .apexcharts-canvas {
        left: -80px;
        top: -25px;
    }
}

@media (max-width:767px) {
    .login_page h1, .register_page h1 {
        margin-bottom: 20px;
        font-size: 24px !important;
    }
    .login_page, .register_page {
        padding-top: 20px;
    }
    .submit_form input {
        height: 45px;
    }
    .remember_box input{
        height: 20px;
    }
    .left_slider {
        padding-right: 0;
    }
    .slider_content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .certify {
        max-width: 100%;
        width: 100%;
        max-width: 300px;
        margin: 0 auto 50px;
    }
    .last_box {
        margin-top: 0;
        flex-wrap: wrap-reverse;
    }
    .text-left-mobile {
        text-align: left !important;
    }
    .owl-carousel-cozuchi .owl-prev {
        left: 20px;
    }
    .owl-carousel-cozuchi .owl-next {
        right: 20px;
    }
    .view_more_box {
        right: 30px;
    }
    .section_title {
        width: calc(100% - 210px);
        padding-left: 30px;
    }
    .section_header {
        padding-left: 30px;
    }
    .panel-title a .icon_collapse {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
    }
    .panel-title a .title {
        width: calc(100% - 70px);
    }
    .faq_content {
        margin-top: 80px;
    }
    .project_box {
        margin-top: 95px;
    }
    .faq_box {
        padding-bottom: 90px;
        padding-top: 90px;
    }
    .company_box {
        padding-top: 90px;
    }
    .strength_box .view_more_box {
        display: none;
    }
    .strength_box .section_title,
    .about_box .section_title,
    .flow_box .section_title,
    .faq_box .section_title,
    .company_box .section_title,
    .voice_box .section_title {
        width: 100%;
    }
    .feel_box {
        padding-top: 80px;
    }
    .feel_box .img img {
        max-width: 335px;
        height: auto;
    }
    .feel_box .img {
        margin-top: 75px;
    }
    .feel_about_intro .size18 {
        font-size: 20px !important;
    }
    .message_about_box {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .message_about_intro {
        margin-top: 60px;
    }
    .message_about_content {
        margin-top: 80px;
        padding-bottom: 120px;
    }
    .project_page .apexcharts-canvas {
        left: -5px;
        top: -35px;
    }
    .list_pagination {
        margin-top: 50px;
    }
    .btn_other,
    .btn_submit {
        width: 100%;
        max-width: 200px;
        font-size: 14px;
    }
    .submit_form label, .submit_form a {
        font-size: 12px;
    }
    .submit_form {
        padding-bottom: 15px;
    }
    .remember_box {
        margin-right: 25px;
    }
    .section_title .size60 {
        font-size: 48px !important;
    }
    .safety_item .body {
        width: calc(100% - 190px);
    }
    .safety_item .photo {
        width: 160px;
    }
    .company_box {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 45px;
    }
    .fieldset_flow_item legend {
        font-size: 48px;
    }
    .fieldset_title {
        font-size: 24px;
    }
    .panel-title a i {
        right: 25px;
    }
    .panel-title a {
        font-size: 18px;
        padding: 22px 50px 22px 15px;
    }
    .faq_panel .panel-body {
        padding: 15px 22px 24px;
    }
    .company_name {
        font-size: 32px;
    }
    .select_box {
        width: 200px;
    }
    .project_page .chart_box {
        width: calc(100% - 260px);
    }
    .project_page .note_chart {
        width: 250px;
        padding-left: 10px;
    }
    .item_project .title_item {
        line-height: 22px;
    }
    .map_box iframe {
        max-height: 600px;
    }
    .page_project_box {
        padding-top: 80px;
    }
    .safety_content {
        margin-top: 80px;
    }
}

@media (max-width:576px) {
    .login-slide {
        font-size: 22px;
        height: 65px;
    }
    .login-slide a {
        max-width: 525px;
        margin: 0 auto;
    }
    .note_chart p .size36 {
        font-size: 24px !important;
    }
    .note_chart p .size18 {
        font-size: 16px !important;
    }
    .note_chart p span:first-child {
        font-size: 14px;
    }
    /* .project_page .apexcharts-canvas {
        top: -10px;
    } */
}

@media (max-width:480px) {
    .note_chart {
        width: 150px;
        padding-left: 10px;
    }
    .note_chart p .size18 {
        font-size: 12px !important;
    }
    .note_chart p span:first-child {
        font-size: 12px;
        width: 70px;
    }
    .note_chart p span:last-child {
        width: calc(100% - 70px);
    }
    .chart_box {
        width: calc(100% - 150px);
    }
    .list_project_box .apexcharts-canvas {
        left: -80px;
        top: -26px;
    }
    .project_page .chart_box {
        width: calc(100% - 200px);
    }
    .project_page .note_chart {
        width: 200px;
        padding-left: 10px;
    }
    .project_page .apexcharts-canvas {
        left: -5px;
        top: -25px;
    }
    .service_item .title {
        font-size: 14px;
        line-height: 30px;
        height: 60px;
        margin-bottom: 10px;
    }
    .border_img {
        margin-bottom: 0
    }
    .border_img img {
        height: auto;
    }
    .safety_box {
        padding-bottom: 45px;
        padding-top: 50px;
    }
    .safety_content {
        margin-top: 50px;
    }
    .img_service {
        height: 140px;
        display: flex;
        align-items: center;
        padding: 20px 0;
    }
    .img_service img {
        margin: 0 auto;
    }
    .service_item {
        padding: 30px 20px 15px;
    }
    .strength_content {
        margin-top: 40px;
    }
    .service_feature_box {
        padding-bottom: 40px;
    }
    .strength_item .title {
        font-size: 20px;
    }
    .strength_item .intro {
        margin-top: 20px;
        font-size: 12px;
    }
    .owl-carousel-cozuchi .owl-prev {
        left: 12px;
    }
    .owl-carousel-cozuchi .owl-next {
        right: 12px;
    }
    .login-slide {
        font-size: 14px;
    }
    .slider_content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .view_more_box {
        height: 40px;
        width: 130px;
        font-size: 12px;
        line-height: 40px;
        right: 15px;
        top: -6px;
        padding-right: 0;
    }
    .section_title {
        width: calc(100% - 140px);
        font-size: 20px;
    }
    .other_box_regist {
        flex-wrap: wrap;
    }
    .other_box_regist span {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        margin-right: 0;
        padding-right: 0;
    }
    .remember_box {
        margin-bottom: 15px;
    }
    .forgot_pass,
    .remember_box {
        width: 100%;
    }
    .form-group.check_box {
        flex-wrap: wrap;
    }
    .login-slide {
        font-size: 16px;
    }
    .login-slide a {
        max-width: 425px;
        margin: 0 auto;
    }
    .project_search .select_box {
        width: 150px;
        font-size: 14px;
    }
    .project_search .results {
        font-size: 14px;
    }
    .select_box select {
        height: 50px;
    }
    .type_item {
        font-size: 10px;
        width: 130px;
    }
    .item_project .category {
        font-size: 12px;
    }
    .item_project .title_item {
        font-size: 14px !important;
        line-height: 22px;
    }
    .item_infor .size32 {
        font-size: 24px !important;
    }
    .safety_item .photo {
        width: 120px;
        margin-left: 20px;
        padding-top: 10px;
    }
    .safety_item .body {
        width: calc(100% - 140px);
    }
    .safety_item .title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .safety_intro {
        font-size: 12px;
    }
    .safety_item {
        margin-bottom: 40px;
    }
    .fieldset_flow_item {
        padding: 15px 15px 25px 15px;
    }
    .fieldset_title {
        font-size: 18px;
    }
    .desk_box .intro {
        font-size: 12px;
    }
    .flow_content {
        margin-top: 40px;
    }
    .flow_content .registration {
        margin-top: 20px;
    }
    .flow_content .registration a {
        height: 60px;
        line-height: 60px;
        max-width: 320px;
        font-size: 18px;
    }
    .flow_box {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .mobile_box {
        width: 100px;
    }
    .desk_box {
        width: calc(100% - 100px);
    }
    .voice_box {
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .voice_content {
        margin-top: 45px;
    }
    .voice_item .intro {
        font-size: 12px;
        height: 300px;
        overflow: hidden;
    }
    .voice_item .author {
        font-size: 14px;
    }
    .voice_item {
        height: 410px;
    }
    .faq_box {
        padding-bottom: 45px;
        padding-top: 45px;
    }
    .faq_content {
        margin-top: 40px;
    }
    .panel-title a {
        font-size: 14px;
        padding: 15px 50px 15px 15px;
    }
    .panel-title a i {
        right: 15px;
    }
    .panel-title a .icon_collapse {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 15px;
        font-size: 20px;
    }
    .company_box {
        padding-top: 45px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .company_name {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .company_infor {
        margin-top: 45px;
    }
    .information_contact {
        padding-bottom: 20px;
        margin-bottom: 25px;
    }
    .company_infor_box {
        font-size: 14px;
    }
    .map_box iframe {
        max-height: 500px;
    }
    .project_box {
        margin-top: 45px;
    }
    .list_project_box {
        margin-top: 45px;
        padding-bottom: 90px;
    }
    .banner_box h1 {
        font-size: 18px;
    }
    .banner_box img {
        width: 100%;
        height: auto;
        min-height: 120px;
    }
    .feel_box {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .feel_box .img {
        margin-top: 35px;
    }
    .feel_about_intro .size18 {
        font-size: 10px !important;
    }
    .message_about_intro {
        margin-top: 30px;
    }
    .message_about_content {
        margin-top: 40px;
        padding-bottom: 60px;
    }
    .about_page .size32 {
        font-size: 26px !important;
    }
    .about_page .size28 {
        font-size: 18px !important;
    }
    .about_page .size18 {
        font-size: 14px !important;
    }
    .feel_box .img img {
        max-width: 170px;
    }
    .about_operating {
        padding-bottom: 30px;
        padding-top: 35px;
    }
    .about_operating_intro {
        margin-top: 35px;
    }
    .message_about_box {
        padding-bottom: 25px;
    }
    .author.size24 {
        font-size: 16px !important;
    }
    .back_about {
        margin-top: 50px;
    }
    .back_about a {
        line-height: 45px;
        height: 45px;
        width: 160px;
        padding: 0;
    }
    .policy {
        line-height: 34px;
        text-align: left !important;
    }
    .submit_form {
        font-size: 14px;
        padding-bottom: 10px;
    }
    .btn_other, .btn_submit {
        width: 100%;
        max-width: 170px;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
    }
    .submit_register  .btn_submit {
        max-width: 250px;
    }
    .page_project_box {
        padding-top: 50px;
    }
    .page_project_box .project_list {
        margin-top: 50px;
    }
    .page_project_box .item_project {
        margin-bottom: 80px;
    }
    .list_pagination {
        margin-top: 25px;
    }
    .note_chart p .size36 {
        font-size: 18px !important;
    }
    .item_infor {
        font-size: 14px;
    }
    .intro_banner {
        font-size: 18px;
    }
}

@media (max-width:435px) {
    .date_box .size18 {
        font-size: 14px !important;
    }
    .note_chart {
        width: 135px;
    }
}

@media (max-width:404px) {
    .note_chart {
        width: 130px;
    }
}
@media (max-width:395px) {
    .btn_other, .btn_submit {
        max-width: 300px;
    }
    .login_page .btn_submit {
        margin-right:0;
        margin-bottom: 15px;
    }
    .login_page h1, .register_page h1 {
        margin-bottom: 15px;
        font-size: 20px !important;
    }
    .remember_box {
        padding-top: 0px;
    }
    .submit_form {
        padding-bottom: 0px;
    }
    .submit.mt-5 {
        margin-bottom: 25px !important;
    }
}
@media (max-width:375px) {
    .policy.mb-5 {
        margin-bottom: 15px !important;
    }
    .other_box_regist span {
        margin-bottom: 20px;
    }
    .submit_form label {
        margin-bottom: 8px;
    }
    .submit_register .btn_submit {
        max-width: 300PX;
    }
    .project_page .chart_box {
        width: calc(100% - 180px);
    }
    .project_page .note_chart {
        width: 180px;
    }
    .intro_banner {
        font-size: 16px;
    }
    .owl-carousel-cozuchi .owl-prev {
        left: 12px;
    }
    .owl-carousel-cozuchi .owl-next {
        right: 12px;
    }
    .note_chart p .size18 {
        font-size: 12px !important;
    }
    .note_chart p span:first-child {
        font-size: 12px;
    }
    .project_page .apexcharts-canvas {
        top: -12px;
    }
    .page_project_box .item_project {
        margin-bottom: 70px;
    }
    .list_project_box .apexcharts-canvas {
        left: -73px;
        top: -10px;
    }
    .service_item {
        padding: 15px 10px;
    }
    .list_pagination {
        margin-top: 20px;
    }
    .project_page {
        padding-bottom: 50px;
    }
    .company_box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .company_infor {
        padding-left: 0;
    }
    .service_item .title {
        font-size: 12px;
        line-height: 16px;
        height: 35px;
    }
    .img_service {
        height: 100px;
    }
    .service_feature_box {
        padding-bottom: 10px;
    }
    .service_feature_content {
        margin-top: 40px;
    }
    .service_feature_box {
        padding-top: 40px;
    }
    .safety_box {
        padding-bottom: 35px;
        padding-top: 50px;
    }
    .safety_content {
        margin-top: 50px;
    }
    .safety_item .title {
        font-size: 12px;
        line-height: 16px;
    }
    .safety_intro {
        font-size: 12px;
        line-height: 18px;
    }
    .section_title {
        font-size: 14px;
    }
    .view_more_box {
        height: 30px;
        width: 120px;
        font-size: 12px;
        line-height: 30px;
        right: 15px;
        top: -6px;
    }
    .section_title {
        width: calc(100% - 120px);
    }
    .fieldset_flow_item {
        padding: 15px;
    }
    .fieldset_flow_item legend {
        font-size: 24px;
    }
    .mobile_box {
        width: 65px;
    }
    .desk_box {
        width: calc(100% - 65px);
    }
    .fieldset_title {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 18px;
    }
    .desk_box .intro {
        font-size: 12px;
        line-height: 16px;
    }
    .fieldset_flow_item {
        margin-bottom: 25px;
    }
    .flow_content .registration a {
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        max-width: 240px;
    }
    .flow_content .registration {
        margin-top: 35px;
    }
    .flow_box {
        padding-top: 35px;
        padding-bottom: 50px;
    }
    .flow_content {
        margin-top: 30px;
    }
    .voice_item {
        padding: 20px 15px 15px 10px;
        height: 360px;
    }
    .voice_item .intro {
        font-size: 12px;
        height: 255px;
    }
    .voice_box {
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .voice_content {
        margin-top: 45px;
    }
    .strength_item .title {
        font-size: 14px;
    }
    .strength_item .number {
        font-size: 24px;
        width: 30px;
        line-height: 30px;
    }
    .panel-title a .icon_collapse {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        margin-right: 15px;
    }
    .panel-title a .title {
        width: calc(100% - 40px);
        font-size: 12px;
        line-height: 16px;
    }
    .panel-title a i {
        right: 15px;
    }
    .panel-title a {
        padding: 15px 45px 15px 15px;
    }
    .faq_content {
        margin-top: 40px;
    }
    .faq_box {
        padding-bottom: 45px;
        padding-top: 45px;
    }
    .company_box {
        padding-top: 45px;
    }
    .project_box {
        margin-top: 50px;
    }
    .list_project_box {
        margin-top: 45px;
        padding-bottom: 60px;
    }
    .about_box_content .img img {
        max-width: 175px;
    }
    .about_box_content {
        margin-top: 35px;
    }
    .about_box {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .about_intro {
        font-size: 12px;
        line-height: 20px;
        margin-top: 25px;
    }
    .strength_item .intro {
        font-size: 12px;
        line-height: 20px;
    }
    .faq_panel .panel-body {
        font-size: 12px;
    }
    .company_name {
        font-size: 16px;
    }
    .page_project_box {
        padding-top: 50px;
    }
    .note_chart {
        width: 140px;
    }
}

@media (max-width:360px) {
    .project_page .chart_box {
        width: calc(100% - 130px);
    }
    .project_page .note_chart {
        width: 130px;
    }
    .project_page .apexcharts-canvas {
        left: -10px;
    }
}